<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GymMath.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GymMathWatch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7DBB8BE2EEEEEC100DB17FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7DBB8CF2EEEEEC200DB17FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7DBB8D92EEEEEC200DB17FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7DBB8F12EEEEEE500DB17FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7DBB8FD2EEEEEE600DB17FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7DBB9072EEEEEE600DB17FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
